.scrollable {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.scrollable.scrollable--performing-resize {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scrollable .scrollable__top-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.scrollable .scrollable__contents {
  width: 100%;
}

.scrollable .scrollable__vertical-scrollbar {
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
}

.scrollable .scrollable__bottom-wrapper {
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.scrollable .scrollable__horizontal-scrollbar {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.scrollable .scrollable__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scrollable .scrollable__content {
  overflow: hidden;
  flex-grow: 1;
  z-index: 1;
}

.scrollable .scrollable__horizontal-wrapper {
  display: inline-block;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.scrollable .scrollable__gutter {
  z-index: 2;
}

.scrollable .scrollable__handle {
  background-color: #000000;
  z-index: 2;
}

.scrollable .scrollable__handle.scrollable__handle--grabbable {
  cursor: col-resize;
}
